.map-main {
  margin-top: 110px;
  @media only screen and (max-width: 991px) {
    margin-top: 125px;
  }
  text-align: center;
}

.map-main h1, .map-main h3 {
  font-family: 'Delius Unicase', cursive;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 100%;
}

.map {
  border: 10px solid aliceblue;
  margin-bottom: 2%;
}
