
// .factscontainer {
// 	display: flex;
// 	justify-content: center;
// }



.factimg {
	// justify-content: center;
	width: 500px;
	height: 300px;
}

.factp {
	// justify-content: center;
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
}

.factmain {
	margin-top: 80px;
	display: flex;
	align-content: center;
}

