
.factscontainer {
	display: grid;
	grid-template-rows: ;
	grid-template-columns: (3, auto);
	max-width: 1200px;
	margin: 0 auto;
}



.factimg {
	display: grid;
	width: 500px;
	height: 300px;
	grid-column: 2;

}

.factp {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;

}

.factmain {
	margin-top: 80px;
}

