.gallery-container {

	display: grid;
	grid-template-rows: 33% 33% 33%;
	grid-template-columns: 50% 50%;
	grid-column-gap: 5%;	
	// padding: 10px 40px 40px 40px;


	// background: red;	
}

.gallery-left-div1 {
	grid-column: 1/2;
	grid-row: 1/2;
	margin: 1.5em;

}

.gallery-left-div2 {
	grid-column: 1/2;
	grid-row: 2/3;
	margin: 1.5em;

}

.gallery-left-div3 {
	grid-column: 1/2;
	grid-row: 3/4;
	margin: 1.5em;
}

.gallery-right-div1 {
	grid-column: 2/3;
	grid-row: 1/2;
	margin: 1.5em;
}

.gallery-right-div2 {
	grid-column: 2/3;
	grid-row: 2/3;
	margin: 1.5em;
}

.gallery-right-div3 {
	grid-column: 2/3;
	grid-row: 3/4;
	margin: 1.5em;
}

.gallery-pic {
	width: 80%;


}

#gallery-header {
	margin-bottom: 5%;
	text-align: center;
	font-size: 4em;
}
