
.quiz {
	position: relative;
	display:block;
	margin-top:200px;
	margin-left: 150px;
	font-family: 'Delius Unicase', cursive;
	h1 {
		font-size: 3em;
	}
	p {
		font-size: 30px;
		color: #003E53;

	}
}

.question {
	display: block;
}
