
.quiz {
	position: relitive;
	display:block;
	margin-top:200px;
	margin-left: 150px;
	font-size: 25px;
	font-family: 'Delius Unicase', cursive;
	p {
		font-size: 40px;
		color: #003E53;
		
	}

}

.question2, .question2, .question3, .question4, {
	margin-top: 30px;
}



