
.quiz {
	position: relitive;
	display:block;
	margin-top:100px;
	margin-left: 150px;
	font-size: 25px;
	p {
		font-size: 40px;
		color: #003E53;
	}

}

.question2 {
	margin-top: 30px;
}

.question1 {
	margin-top: 30px;
}

.question3 {
	margin-top: 30px;
}

.question4 {
	margin-top: 30px;
}

